<!-- <ion-view title="New Note"> -->
<ion-view title="{{note.name || 'New Note'}}">
  <ion-nav-bar class="bar-positive">
  <ion-nav-back-button ng-click="back()"></ion-nav-back-button>
</ion-nav-bar>
  <ion-content scroll="fasle">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="note.name">
      </label>
      <label class="item-input">
        <textarea placeholder="Note" ng-model="note.text" rows="35"></textarea>
      </label>
    </div>
  </ion-contet>
</ion-view>
